* {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	color: #100303;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
  background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



section {
  width: 700px;
  min-height: 400px;
  background-color: none;
  color: black;
  margin: 95px auto;
  padding-bottom: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

section h1 {
  position: relative;
  text-align: center;
  padding: 47px;
  color: white;
}

section h1::before {
  content: "";
  position: absolute;
  bottom: 37px;
  width: 30px;
  height: 4px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 17px;
}

article {
  margin: 3px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

article .question {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background: white;
  color: #2698b4;
}

article .question h2 {
	text-transform: capitalize;
	font-size: 16px;
	width: 415px;
}

article .question button {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: unset;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2698b4;
}

article .answer {
  background-color: white;
}

article .answer p {
	padding: 14px 64px;
	line-height: 1.6;
	color: #0d0d0d;
	text-transform: capitalize;
}